.note_conteiner {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 210px;
    padding: 0 10px 5px;
    overflow: hidden;
    box-shadow: 1px #BAB2B5;
}

.note_conteiner:hover {
    box-shadow: 5px 5px 2px 1px #ae58b9;
    cursor: pointer;
}

.note_title{
    padding: 0  0 5px;
    background-color: #EEE1DC;
    width: 100%;
}

.note_date{
    font-weight: bold;
}

.note_image {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* opacity: 0.5; */
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.note_paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 9em;
    line-height: 1.8em;
    letter-spacing: -0.5px;
}

.date_conteiner {
    display: flex;
    justify-content: space-between;
    background-color: #EEE1DC;
}

.button_conteiner{
    display: flex;
    gap: 9px;
}

.button{
    border-bottom: transparent solid 2px;
    font-weight:bolder;

}

.button:hover{
    box-shadow: 3px 3px 2px 1px #123c698a;
    background: linear-gradient(to bottom right, pink, #ae58b9);
}