.iconRotated {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

.icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  padding-top: 20px;
}

.filterButton {
  padding: 15px 5px;
  font-size: 16px;
  color: #999;
  background-color: #41414170;
  border-radius: 10px 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 80%);
}

.filterButton.active {
  background-color: #ffffff;
}

.sortDropdown {
  display: flex;
  flex-direction: column;
}

.sortDropdown button {
  display: flex;
  justify-content: center;
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 14px;
  border-radius: calc(0.5rem - 2px);
}

@media (min-width: 768px) {
  .titleContainer {
    padding: 10px;
  }
}

@media (max-width: 1023px) {
  .filterButton {
    border-radius: 0 10px 0 0;
    clip-path: polygon(0px 0px, 100% 0px, 100% 80%, 0% 100%);
  }
}
