.iconRotated {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

.icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.filters {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.filterButton {
  padding: 2px 5px;
  font-size: 16px;
  color: #999;
  background-color: #e3e3e3;
  border-radius: 0 0 10px 10px;
  position: relative;
  height: 25px;
}

.filterButton.active {
  background-color: #ffebce;
  height: 28px;
}

.title,
.titleData {
  font-size: 18px;
  color: #6d6d6d;
  font-style: italic;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 5px;
  border-bottom: 2px solid #ff8989;
}

.sortDropdown {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(1, max-content);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sortDropdown button {
  display: flex;
  justify-content: center;
  background-color: #ffebce;
  border: 1px solid #ffffff;
  padding: 3px 5px;
  cursor: pointer;
  font-size: 12px;
  border-radius: calc(0.5rem - 2px);
}

@media (min-width: 768px) {
  .titleContainer {
    padding: 10px;
  }
}