.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 0;
  /*   background-color: #fbe9e7; */
  background-color: #4b608b75;
  padding: 10px;
  border-radius: calc(0.5rem - 2px);
}

.selectedCard {
  background-color:  #0084ff57;
}

.dataContainer {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
}

.customCheckboxContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 25px;
  flex: 0 0 25px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: #57536580;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  display: block;
}

.completed {
  color: #858585d6;
  text-decoration: line-through;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 40px 0 20px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.button–°lip {
  content: "";
  top: 10px;
  right: 40px;
  position: absolute;
  background-color: #57536580;
  border-radius: calc(0.5rem - 2px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 4px;
}

/* .timer {
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  padding: 3.5px 10px;
  background-color: #57536580;
  border-radius: calc(0.5rem - 2px);
} */

.pinned {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
  background-color: #ffffffa3;
}

.pinnedTitle {
  font-size: 12px;
}

.endDateContainer {
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
  font-size: 12px;
  background-color: #ffffffa3;
  border: 2px solid #85858563;
  gap: 3px;
}

.endDate {
  font-size: 12px;
}
