.noteList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 28px;
}

.noteContainer {
  padding: 32px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 40px;
}

.button {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.button:hover {
  background: linear-gradient(to bottom right, pink, #ae58b9);
}
