.note_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.note_container{
  padding: 32px;
}

.button_container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px 20px;
}

.button {
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.button:hover {
  background: linear-gradient(to bottom right, pink, #ae58b9);
}
