.header {
  margin: 10px 0;
  color: #000;
  background-color: #fd91917d;
  border-radius: calc(0.5rem - 2px);
  padding: 5px 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: #ffc8f947;
  border: 5px solid #ff7d7d29;
  border-radius: calc(0.5rem - 2px);
  padding: 20px;
  flex-grow: 1;
  margin: 20px 0;
}

.weekdaysDay {
  display: flex;
  flex-direction: column;
  background-color: #917972b8;
  border-radius: calc(0.5rem - 2px);
  padding: 20px;
  gap: 10px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #fce2c5de;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.weekday {
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  gap: 2px;
}

/* .day {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbe9e7;
  color: #000;
  border-radius: calc(0.5rem - 2px);
}

.today {
  background-color: #f7e47b;
} */

.notebookHoles {
  position: absolute;
  top: 60px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-around;
}

.hole {
  width: 20px;
  height: 20px;
  background-color: #b2d4eb;
  border-radius: 20%;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
