.header-conteiner {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 80px;
    /* background-color: #ae58b9; */
    background: linear-gradient(to bottom right, pink, #ae58b9);
    gap: 10px;
}

.title-conteiner{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
    background-color: #f9d6fdd5;
}

.button-header-conteiner{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px 20px;
}

.logo{
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    width: 50px;
    height: 50px;
}

.header-title {
    font-size: 80px;
    font-weight: bolder;
    letter-spacing: .2rem;
}

.header-button {
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.header-button:hover {
    box-shadow: 3px 3px 2px 1px #123c698a;
}