* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'NerkoOne-Regular', Arial, sans-serif;
  background-color: rgb(17 24 39);
  color: #D8EAD7;
  position: relative;
  margin: 0;
  padding: 0;
}

section {
  flex-grow: 1;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/fon1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
