.tasks,
.data {
  display: flex;
  background-color: #6d7a9d;
  border-radius: calc(0.5rem - 2px);
  padding: 10px;
  color: #000;
  width: 100%;
}

.page,
.pageData {
  display: flex;
  flex-direction: column;
  border-radius: calc(1rem - 2px);
  padding: 0px 10px 20px 20px;
  width: 100%;

  height: calc(100vh - 214px);
  background-color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 10px;

  margin-top: 20px;
}

.listFirst {
  gap: 20px;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: calc(1rem - 2px);
  margin: 10px 0;
}

.list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: calc(1rem - 2px);
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tasks:first-child {
  margin-left: 10px;
}

@media (min-width: 374px){
  .page,
  .pageData {
    height: calc(100vh - 180px);
  }
}
