.footer{
    margin-top: auto;
    background-color: #6d7a9d;
    text-align: center;
    padding: 5px;
    color: #ff9c9c;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }