.app{
  display: flex;
  flex-direction: column;
  background-color: #f4f9ff;
  background-attachment: fixed;
  min-inline-size: 360px;
  max-inline-size: 1280px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}