.noteForm {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    gap: 10px;
}

.textArea,
.formInputImage,
.formInputTitle{
    border-radius: calc(0.5rem - 2px);
    height: 2.25rem;
}

.textArea,
.formInputTitle{
    border: 1px solid #fff;
}

.formButton{
    border-radius: calc(0.5rem - 2px);
    background-color: #EE9E8E;
    width: 100%;
    height: 30px;
}

.textArea{
    min-height: 100px;
}

.formInputImage{
    min-height: 100px;
    background-color: #ffdbc3;
}