.priority {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
  background-color: #ffffffa3;
}

.title {
  font-size: 12px;
}
