.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #4d4d4dc4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.content {
  background: #FBE9E7;
  border: 1px solid #fff;
  border-radius: calc(0.5rem - 2px);
  width: 600px;
  max-width: 90%;
  max-height: 90vh; 
  padding: 25px;
  position: relative;
  color: #000;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffdbc3 #f1f1f1;
}

.content::-webkit-scrollbar {
  width: 12px; 
}

.content::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.content::-webkit-scrollbar-thumb {
  background: #ffdbc3; 
  border-radius: 10px; 
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-color: #ffdbc3;
  border-radius: calc(0.5rem - 2px);
}

.title{
  font-size: 24px;
}

.titleContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.iconClose {
  width: 18px;
  height: 18px;
}

.iconClose:hover {
  width: 21px;
  height: 21px;
}