.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 10px;
  padding: 10px 50px 20px;
  box-shadow: 0 0 #0000,  0 0 #0000, 0 4px 6px -1px rgba(0,0,0),0 2px 4px -2px rgba(0,0,0);
  background-color: #575365;
  color: #D8EAD7;
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.link:hover {
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  min-width: 200px;
  font-size: 18px;
}

.navLink {
  font-size: 20px;
  font-style: italic;
}

.title {
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  font-family: 'Pacifico', cursive;
  letter-spacing: 1px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
