.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.iconRotated {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}

.icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.sortDropdown {
  position: absolute;
  top: 47px;
  left: 33%;
  z-index: 1;
  display: block;
  border: 1px solid #f7e47b;
  width: 113px;
  border-radius: calc(0.5rem - 2px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sortDropdown button {
  display: block;
  width: 100%;
  background-color: #FFF8EB;
  border: none;
  padding: 5px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
}

.button {
  position: absolute;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #FF7F50; 
  border: none;
  border-radius: 10px 10px 0 0 ; 
  cursor: pointer;
  height: 47px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.sortButton {
  top: -7px;
  left: 33%;
  padding: 10px 45px;
}

.buttonCreate{
  top: -7px;
  right: 0;
}

.buttonSearch {
  top: -7px;
  left: 0;
}

.favoritesButton{
  top: -7px;
  left: 43%;
}

.button.active {
  background-color: #FF4500; 
  transform: translateY(2px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  height: 57px;
}

.buttonSearch.active {
  padding-right: 250px;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  padding: 10px;
  width: 200px; 
  height: 100%;
  background-color: #FFF8EB;
  border-radius: calc(0.5rem - 2px);
  outline: none;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  margin-left: 63px;
  cursor: default;
}

.searchContainer.active .searchInput {
  transform: translateX(0);
  opacity: 1;
}


