.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 10px 0 7px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 16px;
  color: #000000;
  background-color: #b3c3d3;
  border: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  transition: all 0.5s ease;
}

.button.active {
  transform: translateY(3px);
  color: #fff;
/*   background-color: #6d7a9d; */
  background-color: #fd8f8f;
}

.buttonHome {
  width: 63px;
  height: 43px;
}

.buttonHome.active {
  transform: translateY(0px);
}

@media (min-width: 768px) {
  .header {
    margin: 0 10px;
  }

  .button {
    padding: 10px 20px;
  }
}
