.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #917972b8;
  border-radius: calc(0.5rem - 2px);
  padding: 60px 20px 20px;
  flex-grow: 1;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #b7b7b7de;
  width: 100%;
  text-align: center;
}

.weekday {
  font-weight: bold;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  gap: 10px;
}

.day {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBE9E7;
  color: #000;
  border-radius: calc(0.5rem - 2px);
}

.today {
  background-color: #f7e47b;
}

.notebookHoles {
  position: absolute;
  top: 105px;
  left: 20px;
  right: 20px;
  display: flex;
  justify-content: space-around;
}

.hole {
  width: 20px;
  height: 20px;
  background-color: #b2d4eb;
  border-radius: 20%;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.5);
}
