.notes {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 18px;
  background-color: #ffdbc3;
  border-radius: calc(0.5rem - 2px);
  padding: 21px;
}

.page {
  padding: 22px;
}

.headerContainer {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 40px;
}

.button {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-color: #ee9e8e;
  padding: 10px;
  border-radius: calc(0.5rem - 2px);
}
