.day {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-weight: bold;
  border-radius: calc(0.5rem - 2px);
  border: 2px solid #ffffff00;
}

.active {
  border: 1px solid #f9bda7;
}

.today {
  background-color: #ffdacd;
  color: #000000;
}

.haveTasks {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(32, 240, 95);
}
