.day {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  border-radius: calc(0.5rem - 2px);
  border: 3px solid #ffffff00;
}

.today {
  background-color: #ffa7a778;
  font-weight: bold;
}

.selectedDay {
  border: 3px solid #fd9191de;
}

.haveTasks {
  display: inline-block; 
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(32, 240, 95);
}

