.content {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0;
  border-radius: calc(0.5rem - 2px);
  padding: 20px;
  gap: 20px;
  background-color: #efe2ecc9;
  box-shadow: 5px 5px #b1b1b1bf;
}

.titleContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: flex-start;
}

.priorityContainer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5px;
}

.titleColumn {
  background-color: #8f8f8f2e;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-family: "Caveat", sans-serif;
  font-style: italic;
}

.customCheckboxContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8f8f8f2e;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: #a2d3a2;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #837f7f;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  display: block;
}

.completed {
  color: #858585d6;
  text-decoration: line-through;
}

.subtaskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 20px 20px;
}

.subtaskItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonСlip,
.buttonEdit,
.buttonDelete {
  display: flex;
  justify-content: center;
  border-radius: calc(0.5rem - 2px);
  background-color: #8f8f8f2e;
  padding: 5px 0;
  flex: 1;
}

.buttonСlip.active {
  background: radial-gradient(#ffffff00, #f7bff4);
}

.buttonEdit {
  flex: 5;
}

.subtaskTitle {
  font-size: 14px;
}

.subtaskListTitle {
  font-size: 12px;
}

.startEndDateContainer {
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
}

.dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.createDate {
  background-color: #d1c9ed80;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
}

.createDate,
.startDate,
.endDate {
  font-size: 12px;
}

.statusGroup {
  display: flex;
  justify-content: space-between;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.statusGroup label {
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  background-color: #8f8f8f2e;
  transition: background-color 0.3s;
  font-size: 12px;
}

.statusGroup label.active:nth-child(1) {
  background-color: #a2d3a2;
}

.statusGroup label.active:nth-child(2) {
  background-color: #a5e3ff;
}

.statusGroup label.active:nth-child(3) {
  background-color: #fba4a4;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.date {
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  margin: 4px;
  font-size: 12px;
  border-radius: calc(0.5rem - 2px);
  background-color: #e4e0f3;
}

.description {
  font-style: italic;
  font-size: 14px;
}
