.content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  border-radius: calc(0.5rem - 2px);
  background-color: #fbe9e7;
  padding: 20px;
  gap: 20px;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  min-width: 0;
}

.priorityContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.button {
  width: 100%;
  border-radius: calc(0.5rem - 2px);
  padding: 5px 10px;
  background-color: #57536580;
}

.title {
  font-size: 18px;
}

.customCheckboxContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 24px;
  background-color: #ddd;
  border-radius: 12px;
  position: relative;
  transition: background-color 0.3s ease;
  flex: 0 0 50px;
}

.customCheckboxContainer.checked {
  background-color: #6bc400;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckboxContainer .customCheckbox {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
}

.customCheckboxContainer .hiddenCheckbox:checked + .customCheckbox {
  transform: translateX(26px);
}

.subtaskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 20px;
}

.subtaskTitle {
  font-size: 16px;
  margin: 10px 0;
}

.subtaskListTitle {
  font-size: 14px;
}

.dateContainer {
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  justify-content: end;
  justify-items: end;
  align-items: center;
  grid-row-gap: 5px;
  letter-spacing: 1px;
  font-size: 14px;
}

.createDate,
.startDate,
.endDate {
  border-radius: calc(0.5rem - 2px);
  padding: 2px;
  letter-spacing: normal;
}
