.content {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: calc(0.5rem - 2px);
  padding: 10px;
  /* gap: 20px; */
  background-color: #ffffff;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
  gap: 5px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.stateContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 4px;
}

.priorityContainer {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 5px;
  align-items: center;
  margin-bottom: 24px;
}

.titleColumn {
  margin: 4px;
  font-size: 12px;
}

.title {
  font-size: 16px;
  font-family: "Caveat", sans-serif;
  color: #000000;
}

.customCheckboxContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.hiddenCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.customCheckbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8f8f8f2e;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.hiddenCheckbox:checked + .customCheckbox {
  background-color: #ffdacd;
}

.customCheckbox::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.hiddenCheckbox:checked + .customCheckbox::after {
  display: block;
}

.completed {
  color: #858585d6;
  text-decoration: line-through;
}

.subtaskList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 20px 20px;
}

.subtaskItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.buttonСlip,
.buttonEdit,
.buttonDelete {
  display: flex;
  justify-content: center;
  border-radius: calc(0.5rem - 2px);
  /* background-color: #ffebce; */
  /* padding: 5px 0; */
  /* flex: 1; */
  color: #9ca3af;
}

.buttonСlip.active {
  background: #ffdacd;
}

.subtaskTitle {
  font-size: 14px;
}

.subtaskListTitle {
  font-size: 12px;
}

.startEndDateContainer {
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 4px;
}

.dateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.numberTask {
  font-size: 14px;
  color: #6b7280;
  font-weight: bold;
}

.createDate {
  font-size: 12px;
}

.startDate,
.endDate {
  font-size: 12px;
}

.statusGroup {
  display: flex;
  justify-content: space-between;
}

.overdueContainer {
  align-items: center;
  gap: 10px;
  color: #ff0000;
}

/* .radioInput {
  opacity: 0;
  position: absolute;
} */

.statusGroup button {
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  margin: 4px;
  border-radius: calc(0.5rem - 2px);

  transition: color 0.3s;
  font-size: 12px;
  border: 1px solid #e3e3e3;
}

.statusButton {
  cursor: pointer;
}

.overdueButton {
  cursor: default;
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  height: 100%;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.completeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completeButton {
  margin: 4px 0;
  font-size: 12px;
  padding: 4px 6px;
  color: #16a34a;
  background-color: #b1b1b129;
  border-radius: calc(0.5rem - 2px);
  width: 100%;
  font-weight: bold;
}

.completeButton.completed {
  text-decoration: none;
  color: #ff7373;
}

.completeButton:hover {
  background-color: #e3e3e3;
}

.date {
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  margin: 4px;
  font-size: 12px;
  border-radius: calc(0.5rem - 2px);
}

.descriptionContainer {
  margin-bottom: 24px;
  background-color: #f7fafd;
  border-radius: calc(0.5rem - 2px);
  padding: 7px;
}

.description {
  font-size: 14px;
  max-width: 540px;
  text-align: justify;
  white-space: pre-wrap;
  font-family: monospace;
  word-wrap: break-word;
}

.overdueContainer,
.checkContainer,
.newContainer {
  display: flex;
  gap: 10px;
  border-radius: calc(0.5rem - 2px);
  padding: 2px 6px;
}

.text {
  font-size: 14px;
}

.overdueContainer {
  color: #ff7777;
  background-color: #fee2e2;
}

.checkContainer {
  color: #54c154;
  background-color: #dcfce7;
}

.newContainer {
  color: #ea580c;
  background-color: #ffedd5;
}
