.noteCard {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 285px;
  overflow: hidden;
  border-radius: calc(0.5rem - 2px);
  background-color: #FBE9E7; 
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
  margin: 30px 0 15px;
  font-size: 18px;
  padding: 0 15px;
  white-space: pre-wrap;
  color: #000;
}

.modalTitle {
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: visible;
  text-overflow: unset;
  line-height: normal;
  font-size: 20px;
  padding-right: 120px;
  min-height: 30px;
}

.image {
  display: block;
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: center;
}

.modalImage {
  height: 220px;
}

.paragraph {
  padding: 0 40px 0 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.1em;
  line-height: 1em;
  color: #8585858a;
  font-size: 14px;
  white-space: pre-wrap;
  margin-bottom: 20px;
}

.modalParagraph {
  padding: 0 15px;
  display: block;
  -webkit-line-clamp: unset;
  -webkit-box-orient: unset;
  overflow: visible;
  text-overflow: unset;
  height: auto;
  line-height: normal;
  font-size: 16px;
}

.buttonСlip {
  content: "";
  bottom: 19px;
  right: 15px;
  position: absolute;
  background-color: #575365b0;
  border-radius: calc(0.5rem - 2px);
  padding: 2px;
  width: 24px;
  height: 24px;
}

.modalButtonСlip {
  top: 333px;
  right: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.modalIconClip {
  width: 22px;
  height: 22px;
}

.conteinerParagraph {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  gap: 20px;
}

.modalConteinerParagraph {
  flex-direction: column-reverse;
  align-items: flex-start;
}

.date {
  content: "";
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #575365;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: calc(0.5rem - 2px);
  font-size: 12px;
  color: #f7e47b94;
  padding: 4px;
  font-weight: bold;
}

.modalDate {
  top: 333px;
  right: 25px;
  font-size: 15px;
  height: 30px;
  width: 84px;
  background-color: #575365b0;
}

.modalButtonConteiner {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  margin-top: 30px;
}

.modalButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e47b;
  width: 90px;
  height: 40px;
  border-radius: calc(0.5rem - 2px);
}

.modalButton:hover {
  background-color: rgb(34, 211, 238);
}

.pencil,
.basket {
  width: 24px;
  height: 24px;
}


