.title {
  margin: 30px 0 15px;
  font-size: 18px;
  min-height: 30px;
  padding: 0 135px 0 15px;
}

.image {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.paragraph {
  padding: 0 15px;
  display: block;
  font-size: 16px;
  color: #8585858a;
  margin-bottom: 20px;
}

.button–°lip {
  content: "";
  top: 333px;
  right: 115px;
  position: absolute;
  background-color: #575365b0;
  border-radius: calc(0.5rem - 2px);
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
}

.date {
  content: "";
  top: 333px;
  right: 25px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #575365b0;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: calc(0.5rem - 2px);
  font-size: 15px;
  height: 30px;
  width: 84px;
  color: #000;
  padding: 4px;
  font-weight: bold;
}

.buttonConteiner {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  margin-top: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7e47b;
  padding: 7px 30px;
  border-radius: calc(0.5rem - 2px);
}

.button:hover {
  background-color: rgb(34, 211, 238);
}



