.taskForm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: calc(0.5rem - 2px);
  margin: 10px 0;
}

.formInput {
  border-radius: calc(0.5rem - 2px);
  height: 2.25rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 5px;
  resize: none;
}

.textareaTitle,
.textareaDescription,
.textareaSubtask,
.formDate {
  border-radius: calc(0.5rem - 2px);
  height: 2.5rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 5px;
  resize: none;
  font-size: 13px;
  background-color: #ffffffa1;
  color: #717171;
}

.formDate {

  height: 2rem;
}

.textareaTitle::placeholder,
.textareaDescription::placeholder,
.textareaSubtask::placeholder {
  color: #bbbbbb;
}

/* .formDate {
  border-radius: calc(0.5rem - 2px);
  height: 2rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  background-color: #ffffffa1;
} */

.subtasksContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.5rem - 2px);
  padding: 5px 15px;
  background-color: #ffdacd;
  font-weight: bold;
  font-size: 14px;
}

.buttonFormDelite {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.5rem - 2px);
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}

.buttonSubmit {
  border-radius: calc(0.5rem - 2px);
  background-color: #ffebce;
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: 14px;
  margin-top: 20px;
}

.priorityGroup {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.priorityGroup label {
  display: flex;
  padding: 6px 10px;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  background-color: #ffffffa1;
  border: 1px solid #e3e3e3;
  transition: background-color 0.3s;
  font-size: 13px;
  flex: 1;
  justify-content: center;
  text-transform: lowercase;
  font-weight: bold;
  color: #6d6d6d;
}

.priorityGroup label.active {
  border: 1px solid #000000b3;
  color: #356ca8;
}

.label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #755c4d;
  font-weight: bold;
}

.dateContainer {
  display: grid;
  align-items: center;
  justify-items: end;
  grid-template-columns: repeat(2, 2fr);
  gap: 3px;
}

.dateContainer label {
  font-size: 13px;
  color: #bbbbbb;
}

.buttonSubtaskContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}


/*proverka*/

/* .tasks,
.data {
  display: flex;
  background-color: #6d7a9d;
  border-radius: calc(0.5rem - 2px);
  padding: 10px;
  color: #000;
  width: 50%;
}

.page,
.pageData {
  display: flex;
  flex-direction: column;
  border-radius: calc(1rem - 2px);
  padding: 20px 10px 20px 20px;
  width: 100%;
  height: calc(100vh - 180px);
  background-color: #fff;
}

 .page {
  padding: 20px 10px 20px 20px;
} 

.list{
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding-right: 10px;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: calc(1rem - 2px);
  margin: 10px 0;
}

.list::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: calc(1rem - 2px);
}

.list::-webkit-scrollbar-thumb:hover {
  background: #555;
} */