.taskForm {
  display: flex;
  gap: 20px;
  flex-direction: column;
  background-color: #fbe9e7;
  padding: 25px;
  border-radius: calc(0.5rem - 2px);
  margin: 20px 0;
}

.formInput {
  border-radius: calc(0.5rem - 2px);
  height: 2.25rem;
  border: 2px solid #8585858a;
  width: 100%;
}

.buttonForm {
  border-radius: calc(0.5rem - 2px);
  padding: 10px;
  background-color: #e3d5d5;
  font-size: 14px;
  font-weight: bold;
}

.buttonSubmit {
  border-radius: calc(0.5rem - 2px);
  background-color: #ffd800;
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: 16px;
  margin-top: 15px;
}

.priorityGroup {
  display: flex;
  justify-content: space-between;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.priorityGroup label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  background-color: #e3d5d5;
  transition: background-color 0.3s;
}

.priorityGroup label.active {
  background-color: #f7e47b;
}

.dateContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
}

.buttonSubtaskContainer {
  display: flex;
  gap: 10px;
}
