.taskForm {
  display: flex;
  flex-direction: column;
  background-color: #fbe9e7;
  padding: 25px;
  border-radius: calc(0.5rem - 2px);
  margin: 20px 0;
}

.formInputTitle,
.formInputDate {
  border-radius: calc(0.5rem - 2px);
  height: 2.25rem;
  border: 2px solid #8585858a;
  margin-bottom: 15px;
}

.formButton {
  border-radius: calc(0.5rem - 2px);
  background-color: #ffd800;
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: 16px;
}

.priorityGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.priorityGroup label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s;
  font-weight: bold;
  border: 1px solid #000;
}

.priorityGroup label.active {
  background-color: #57536580;
}
