.taskForm {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: calc(0.5rem - 2px);
  margin: 10px 0;
}

.formInput {
  border-radius: calc(0.5rem - 2px);
  height: 2.25rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 5px;
  resize: none;
}

.textareaTitle,
.textareaDescription,
.textareaSubtask {
  border-radius: calc(0.5rem - 2px);
  height: 2.5rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  padding: 5px;
  resize: none;
  font-size: 14px;
  background-color: #ffffffa1;
}

.formDate {
  border-radius: calc(0.5rem - 2px);
  height: 2rem;
  border: 1px solid #e3e3e3;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  background-color: #ffffffa1;
}

.buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(0.5rem - 2px);
  padding: 5px;
  background-color: #e3e3e3;
  font-weight: bold;
  font-size: 14px;
}

.buttonSubmit {
  border-radius: calc(0.5rem - 2px);
  background-color: #ffdcab;
  width: 100%;
  height: 30px;
  font-weight: bolder;
  font-size: 14px;
  margin-top: 15px;
}

.priorityGroup {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.radioInput {
  opacity: 0;
  position: absolute;
}

.priorityGroup label {
  display: flex;
  padding: 6px 10px;
  border-radius: calc(0.5rem - 2px);
  cursor: pointer;
  background-color: #ffffffa1;
  border: 1px solid #e3e3e3;
  transition: background-color 0.3s;
  font-size: 13px;
  flex: 1;
  justify-content: center;
  text-transform: lowercase;
}

.priorityGroup label.active {
  background-color: #e3e3e3;
}

.label {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dateContainer {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
}

.dateContainer label {
  font-size: 14px;
}

.buttonSubtaskContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
}
